<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{flatpage.title}}</title>
        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">{{flatpage.title}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/double/">Seeing double</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/fancy/">Fancy</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/logmein/">Log me in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">{{flatpage.title}}</h1>
                        <p>Я пытался поменять бекграунд картинку, у меня не вышло:(</p>
                        <p>{{ flatpage.content }}<br>{{flatpage.content}}</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
